body {
  font-family: 'Montserrat', sans-serif;
  color: #222831;
  text-align: center;
}

/* heading section */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.7;
}

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

p {
  color: #8f8f8f;
  letter-spacing: 1px;
  line-height: 2;
}

/* containers */
.container-fluid {
  padding: 7% 14%;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #222831;
}

/* title section */
#title .container-fluid {
  padding: 3% 15% 15%;
}

/* Nav-bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  margin: 0 20px 0;
}

.title-description {
  position: relative;
  text-align: left;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* feature section */
#feature {
  position: relative;
}

#feature h3 {
  color: #222831;
  margin-top: 2rem;
}

.feature-description {
  padding: 0 20px;
}

.icon {
  color: #ef8172;
  font-size: 3rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial section */
#testimonial {
  background-color: #ef8172;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin-right: 2rem;
}

.testimonial-description {
  margin-bottom: 5%;
}

/* media partners section */
#press {
  background-color: #ef8172;
  padding-top: 0;
}

.press-logo {
  width: 20%;
  margin: 0 0 0 2.5rem;
}

/* pricing section */
.pricing-title {
  margin-bottom: 5%;
}

/* cta section */
.cta-h3 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* footer */
#footer .container-fluid {
  padding: 4% 15%;
}

.footer-icon {
  margin: auto 1rem;
  font-size: 1.5rem;
}

.footer-p {
  margin-top: 16px;
  font-size: 0.75rem;
}

/* media query */
@media (max-width: 980px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  .title-description {
    text-align: center;
  }
}
